<%= simple_form_for [@restaurant, @review] do |f| %>
  <% if @review.errors.any? %>
    <div class="errors-container">
      <ul>
        <% @review.errors.full_messages.each do |message| %>
          <li>
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= f.input :content %>
  </div>
  <div>
    <%= f.number_field :rating, min:0, max:5 %>
  </div>
  <%= f.submit "add a review", class: "btn btn-primary" %>
<% end %>
